<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<!--    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />-->

<!--    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.url}"
        p:username="${jdbc.username}"
        p:password="${jdbc.password}" />-->
        
        <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource"
              p:driverClassName="com.mysql.jdbc.Driver"
              p:url="jdbc:mysql://localhost:3306/hibernate_test?userUnicode=true&amp;characterEncoding=UTF8"
              p:username="root"
              p:password="root" />

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

    <!-- 需要配置 sessionFactory -->
    <bean id="sessionFactorySpringXml" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="mappingLocations" value="classpath:com/wt/entity/*.hbm.xml"></property>
      
        <!-- 使用注解的方式 -->
        <property name="packagesToScan" value="com.wt.entity"/>
    </bean>

    <!-- 配置事务 -->
    <bean id="transationManagerSpringXml" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactorySpringXml"></property>
    </bean>
    
    <!-- 通知 -->
    <tx:advice id="myAdvice" transaction-manager="transationManagerSpringXml">
        <tx:attributes>
            <tx:method name="do*"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    
    <!-- 面向切面编程 -->
    <!-- biz业务逻辑层 -->
    <aop:config>
        <aop:pointcut id="myCut" expression="execution(* com.wt.biz.impl.*.*(..))"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="myCut"/>
    </aop:config>
    
    <!-- produces 的配置 -->
    
    <bean name="producesDaoImplSpringXml" class="com.wt.dao.impl.ProducesDaoImpl">
        <property name="sessionFactory" ref="sessionFactorySpringXml" />
    </bean>
    
    <bean name="producesBizImplSpringXml" class="com.wt.biz.impl.ProducesBizImpl">
        <property name="producesDao" ref="producesDaoImplSpringXml" />
    </bean>
    
    <!-- customers 的配置 -->
    
    <bean name="customersDaoImplSpringXml" class="com.wt.dao.impl.CustomersDaoImpl">
        <property name="sessionFactory" ref="sessionFactorySpringXml" />
    </bean>
    
    <bean name="customersBizImplSpringXml" class="com.wt.biz.impl.CustomersBizImpl">
        <property name="customersDao" ref="customersDaoImplSpringXml" />
        <property name="producesDao" ref="producesDaoImplSpringXml" />
    </bean>

</beans>
